*.crt
*.key

# Logs
*.log
logs/
# Or specifically if your kustomization.yaml is inside a base folder
deployment/scripts/**/base/**/charts
deployment/scripts/**/overlays/**/charts
**/__pycache__
**/.DS_Store

**/local-truenas/config-iscsi.yaml
**/local-truenas/config-nfs.yaml
deployment/letsencrypt_backup.tar
deployment/pve-root-ca.cer
deployment/cluster/pve.csr
