apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-traefik-gateway
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 38.0.1
    helm:
      valueFiles:
        - traefik-values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
